html {
  font-size: 62.5%;
}
.nav {
  display: flex;
  justify-content: space-around;
  background-color: cadetblue;
  padding: 20px;
  font-size: 1.8rem;
}
.activeClass{
  color: rgb(240, 113, 113);
}